In [2]:
import pandas as pd
data=pd.read_csv("indian_ecommerce2.csv")
data.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,ORD-2021001,2022-07-19,2022-07-24,First Class,CUST-1001,Aarush Chander,Regular Buyer,India,Coimbatore,...,901197,East,PROD-3001,Electronics,Smartphone,Smartphone - Mi,5830.65,2,0.2,-230.66
1,2,ORD-2021002,2021-01-29,2021-01-31,First Class,CUST-1002,Pihu Chaudhari,Prime Member,India,Howrah,...,150451,South,PROD-3002,Electronics,Earphones,Earphones - OnePlus,25185.19,4,0.2,1000.67
2,3,ORD-2021003,2022-07-19,2022-07-23,First Class,CUST-1003,Emir Balakrishnan,Bulk Buyer,India,Chennai,...,267834,South,PROD-3003,Beauty & Personal Care,Lipstick,Lipstick - Mamaearth,24316.53,2,0.2,4830.83
3,4,ORD-2021004,2022-09-11,2022-09-16,Standard Class,CUST-1004,Priyansh Vasa,Bulk Buyer,India,Bhopal,...,41652,North,PROD-3004,Sports & Fitness,Cricket Bat,Cricket Bat - SG,9248.73,2,0.0,642.91
4,5,ORD-2021005,2021-07-23,2021-07-29,Second Class,CUST-1005,Jayesh Chakraborty,Bulk Buyer,India,Kanpur,...,89494,West,PROD-3005,Electronics,Smartwatch,Smartwatch - OnePlus,14365.07,3,0.2,754.51

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9500 entries, 0 to 9499
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9500 non-null   int64
 1   Order ID       9500 non-null   object
 2   Order Date     9500 non-null   object
 3   Ship Date      9500 non-null   object
 4   Ship Mode      9500 non-null   object
 5   Customer ID    9500 non-null   object
 6   Customer Name  9500 non-null   object
 7   Segment        9500 non-null   object
 8   Country        9500 non-null   object
 9   City           9500 non-null   object
 10  State          9500 non-null   object
 11  Postal Code    9500 non-null   int64
 12  Region         9500 non-null   object
 13  Product ID     9500 non-null   object
 14  Category       9500 non-null   object
 15  Sub-Category   9500 non-null   object
 16  Product Name   9500 non-null   object
 17  Sales          9500 non-null   float64
 18  Quantity       9500 non-null   int64
 19  Discount       9500 non-null   float64
 20  Profit         9500 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.5+ MB

#convert datatype of dates from object to datetime

In [4]:
data["Ship Date"]=pd.to_datetime(data["Ship Date"])
data["Order Date"]=pd.to_datetime(data["Order Date"])

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9500 entries, 0 to 9499
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9500 non-null   int64
 1   Order ID       9500 non-null   object
 2   Order Date     9500 non-null   datetime64[ns]
 3   Ship Date      9500 non-null   datetime64[ns]
 4   Ship Mode      9500 non-null   object
 5   Customer ID    9500 non-null   object
 6   Customer Name  9500 non-null   object
 7   Segment        9500 non-null   object
 8   Country        9500 non-null   object
 9   City           9500 non-null   object
 10  State          9500 non-null   object
 11  Postal Code    9500 non-null   int64
 12  Region         9500 non-null   object
 13  Product ID     9500 non-null   object
 14  Category       9500 non-null   object
 15  Sub-Category   9500 non-null   object
 16  Product Name   9500 non-null   object
 17  Sales          9500 non-null   float64
 18  Quantity       9500 non-null   int64
 19  Discount       9500 non-null   float64
 20  Profit         9500 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 1.5+ MB

In [6]:
data.Category.value_counts()

Category
Beauty & Personal Care    1604
Electronics               1593
Fashion                   1589
Home & Kitchen            1587
Books                     1570
Sports & Fitness          1557
Name: count, dtype: int64

In [7]:
data.City.value_counts()

City
Hyderabad     985
New Delhi     951
Kanpur        502
Udaipur       490
Surat         477
Lucknow       476
Jaipur        476
Howrah        468
Indore        467
Ahmedabad     464
Kolkata       447
Bhopal        429
Pune          347
Coimbatore    340
Mysore        332
Madurai       330
Mumbai        322
Hubli         311
Chennai       298
Nagpur        297
Bangalore     291
Name: count, dtype: int64

In [8]:
data.groupby([data["City"]=="Hyderabad"])["Category"].sum()

City
False    ElectronicsElectronicsBeauty & Personal CareSp...
True     FashionElectronicsFashionFashionElectronicsFas...
Name: Category, dtype: object

#find profit by category and sub category

In [9]:
#question5
Profit_By_Category=data.groupby("Category")["Profit"].sum()
Profit_By_Category

Category
Beauty & Personal Care    1498594.91
Books                      813558.17
Electronics               1137773.11
Fashion                    793917.07
Home & Kitchen             776016.39
Sports & Fitness           508035.83
Name: Profit, dtype: float64

In [10]:
Profit_By_Sub_Category=data.groupby("Sub-Category")["Profit"].sum()
Profit_By_Sub_Category

Sub-Category
Bedsheet            156720.34
Biography           148216.91
Children            146743.70
Comics              171278.54
Cookware Set        151492.27
Cricket Bat         159189.29
Curtains            154562.94
Dumbbells          -114953.22
Earphones           339734.29
Exam Preparation    177761.13
Face Wash           438402.09
Fiction             169557.89
Football            149556.49
Jeans               121351.38
Kurtis              196212.55
Laptop              455053.45
Lipstick            603717.82
Mixer Grinder       159213.76
Moisturizer         136752.99
Perfume             174307.89
Power Bank          140624.32
Saree               174815.89
Shampoo             145414.12
Shoes               160858.10
Smartphone           46234.92
Smartwatch          156126.13
Storage Box         154027.08
T-Shirt             140679.15
Tennis Racquet      129945.23
Yoga Mat            184298.04
Name: Profit, dtype: float64

#to find category value count in hydrabad

In [11]:
data.groupby(data["City"]=="Hyderabad")["Category"].value_counts()

City   Category
False  Electronics               1438
       Home & Kitchen            1435
       Fashion                   1428
       Beauty & Personal Care    1423
       Books                     1414
       Sports & Fitness          1377
True   Beauty & Personal Care     181
       Sports & Fitness           180
       Fashion                    161
       Books                      156
       Electronics                155
       Home & Kitchen             152
Name: count, dtype: int64

#to  find profit according to city

In [12]:
data.groupby("City")["Profit"].sum()

City
Ahmedabad     253620.78
Bangalore     164503.01
Bhopal        245138.86
Chennai       212868.95
Coimbatore    206979.43
Howrah        224457.67
Hubli         173849.04
Hyderabad     498807.72
Indore        299915.40
Jaipur        282921.22
Kanpur        323488.31
Kolkata       270657.20
Lucknow       266763.90
Madurai       194671.77
Mumbai        172610.71
Mysore        244750.48
Nagpur        188148.95
New Delhi     516105.03
Pune          216288.35
Surat         262351.51
Udaipur       308997.19
Name: Profit, dtype: float64

#find sales according to city

In [13]:
data.groupby("City")["Sales"].sum()

City
Ahmedabad      7029815.17
Bangalore      4330293.62
Bhopal         6544880.36
Chennai        4782718.91
Coimbatore     5185839.58
Howrah         6806636.87
Hubli          4779498.72
Hyderabad     15117576.56
Indore         7201826.33
Jaipur         7503701.96
Kanpur         7446164.51
Kolkata        6943495.88
Lucknow        7198938.89
Madurai        4811936.10
Mumbai         5014310.87
Mysore         5206914.88
Nagpur         4568666.17
New Delhi     14177501.95
Pune           5407607.23
Surat          6980132.62
Udaipur        7326955.05
Name: Sales, dtype: float64

#Analyze the sales on the based on Category

In [14]:
#question2
Sales_by_product=data.groupby("Category")["Sales"].sum().reset_index()
Sales_by_product

                 Category        Sales
0  Beauty & Personal Care  24326921.85
1                   Books  23828245.52
2             Electronics  24369479.88
3                 Fashion  23898347.73
4          Home & Kitchen  24605472.60
5        Sports & Fitness  23336944.65

In [15]:
data.groupby(["Category"])["Discount"].value_counts()

Category                Discount
Beauty & Personal Care  0.00        418
                        0.20        413
                        0.05        395
                        0.10        378
Books                   0.20        429
                        0.05        383
                        0.00        382
                        0.10        376
Electronics             0.10        410
                        0.20        398
                        0.00        397
                        0.05        388
Fashion                 0.10        414
                        0.00        405
                        0.05        395
                        0.20        375
Home & Kitchen          0.20        436
                        0.10        412
                        0.05        391
                        0.00        348
Sports & Fitness        0.05        401
                        0.20        397
                        0.10        383
                        0.00        376
Name: count, dtype: int64

#Understanding popular purchase quantities per category.

In [16]:
data.groupby(["Category"])["Quantity"].value_counts()

Category                Quantity
Beauty & Personal Care  4           426
                        1           400
                        2           396
                        3           382
Books                   1           398
                        4           397
                        3           393
                        2           382
Electronics             2           411
                        4           411
                        3           392
                        1           379
Fashion                 4           420
                        1           403
                        2           393
                        3           373
Home & Kitchen          4           419
                        2           399
                        1           387
                        3           382
Sports & Fitness        4           418
                        1           388
                        3           380
                        2           371
Name: count, dtype: int64

In [ ]:
data.groupby(["Category"])["Quantity"].value_counts().max()

np.int64(426)

#compare the sales and profit accoding to city

In [18]:
data.groupby("City")[["Sales","Profit"]].sum().sort_values(["Sales"],ascending=False)

                  Sales     Profit
City
Hyderabad   15117576.56  498807.72
New Delhi   14177501.95  516105.03
Jaipur       7503701.96  282921.22
Kanpur       7446164.51  323488.31
Udaipur      7326955.05  308997.19
Indore       7201826.33  299915.40
Lucknow      7198938.89  266763.90
Ahmedabad    7029815.17  253620.78
Surat        6980132.62  262351.51
Kolkata      6943495.88  270657.20
Howrah       6806636.87  224457.67
Bhopal       6544880.36  245138.86
Pune         5407607.23  216288.35
Mysore       5206914.88  244750.48
Coimbatore   5185839.58  206979.43
Mumbai       5014310.87  172610.71
Madurai      4811936.10  194671.77
Chennai      4782718.91  212868.95
Hubli        4779498.72  173849.04
Nagpur       4568666.17  188148.95
Bangalore    4330293.62  164503.01

#to find monthly sales

In [19]:
#question 1
data["Months"]=data["Order Date"].dt.month
data["day_of_week"] = data["Order Date"].dt.dayofweek
data["years"]=data["Order Date"].dt.year

In [20]:
data

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Months,day_of_week,years
0,1,ORD-2021001,2022-07-19,2022-07-24,First Class,CUST-1001,Aarush Chander,Regular Buyer,India,Coimbatore,...,Electronics,Smartphone,Smartphone - Mi,5830.65,2,0.2,-230.66,7,1,2022
1,2,ORD-2021002,2021-01-29,2021-01-31,First Class,CUST-1002,Pihu Chaudhari,Prime Member,India,Howrah,...,Electronics,Earphones,Earphones - OnePlus,25185.19,4,0.2,1000.67,1,4,2021
2,3,ORD-2021003,2022-07-19,2022-07-23,First Class,CUST-1003,Emir Balakrishnan,Bulk Buyer,India,Chennai,...,Beauty & Personal Care,Lipstick,Lipstick - Mamaearth,24316.53,2,0.2,4830.83,7,1,2022
3,4,ORD-2021004,2022-09-11,2022-09-16,Standard Class,CUST-1004,Priyansh Vasa,Bulk Buyer,India,Bhopal,...,Sports & Fitness,Cricket Bat,Cricket Bat - SG,9248.73,2,0.0,642.91,9,6,2022
4,5,ORD-2021005,2021-07-23,2021-07-29,Second Class,CUST-1005,Jayesh Chakraborty,Bulk Buyer,India,Kanpur,...,Electronics,Smartwatch,Smartwatch - OnePlus,14365.07,3,0.2,754.51,7,4,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9495,9496,ORD-2030496,2021-02-22,2021-02-25,Standard Class,CUST-10496,Romil Bava,Regular Buyer,India,Pune,...,Books,Exam Preparation,Exam Preparation - Scholastic India,12563.94,2,0.2,-242.37,2,0,2021
9496,9497,ORD-2030497,2021-07-13,2021-07-14,First Class,CUST-10497,Divit Sethi,Regular Buyer,India,Howrah,...,Home & Kitchen,Storage Box,Storage Box - Prestige,11115.67,2,0.0,1497.74,7,1,2021
9497,9498,ORD-2030498,2021-08-16,2021-08-19,First Class,CUST-10498,Mishti Sahni,Regular Buyer,India,Ahmedabad,...,Beauty & Personal Care,Moisturizer,Moisturizer - Himalaya,29428.87,4,0.2,-583.71,8,0,2021
9498,9499,ORD-2030499,2021-03-18,2021-03-24,Standard Class,CUST-10499,Neysa Deshmukh,Regular Buyer,India,Mumbai,...,Sports & Fitness,Football,Football - SS,18077.79,4,0.0,2697.46,3,3,2021
9499,9500,ORD-2030500,2021-03-15,2021-03-20,Second Class,CUST-10500,Zain Bakshi,Prime Member,India,Hyderabad,...,Books,Children,Children - Rupa Publications,5758.01,4,0.2,488.73,3,0,2021

In [31]:
monthly_sales = data.groupby("Months")["Sales"].sum()
print(monthly_sales)

Months
1     14634376.73
2     13090243.31
3     15140425.62
4     14495834.64
5     15095635.21
6     12236150.98
7      9746548.36
8     10524629.47
9      9265305.45
10    10173888.07
11     8975522.40
12    10986851.99
Name: Sales, dtype: float64

#sales analysis on the base of sub-category

In [ ]:
#Question 3
Sales_by_subcategory=data.groupby("Sub-Category")["Sales"].sum()
Sales_by_subcategory

Sub-Category
Bedsheet            5065418.45
Biography           4764614.61
Children            4600419.48
Comics              5041771.10
Cookware Set        4868906.10
Cricket Bat         4574387.11
Curtains            5024838.45
Dumbbells           5304594.01
Earphones           5109450.58
Exam Preparation    4799980.84
Face Wash           5213046.00
Fiction             4621459.49
Football            4610049.12
Jeans               4748569.77
Kurtis              5155361.42
Laptop              4716148.76
Lipstick            4716810.01
Mixer Grinder       5126359.61
Moisturizer         4583846.56
Perfume             5084871.43
Power Bank          4886740.32
Saree               4753202.42
Shampoo             4728347.85
Shoes               4956205.60
Smartphone          4723513.51
Smartwatch          4933626.71
Storage Box         4519949.99
T-Shirt             4285008.52
Tennis Racquet      4450752.53
Yoga Mat            4397161.88
Name: Sales, dtype: float64

#to find Monthly profit of sales

In [ ]:
#question4
data["monthly_profit"] = data.groupby("Months")["Profit"].sum()
print(monthly_profit)

Months
1     586100.84
2     497607.54
3     554644.29
4     481004.06
5     578634.87
6     500931.42
7     393134.69
8     395124.15
9     370964.07
10    391923.10
11    331962.44
12    445864.01
Name: Profit, dtype: float64

#analyze profit and sales by coustomer segment

In [ ]:
#question 6
Sale_by_segment=data.groupby("Segment")["Sales"].sum()
Sale_by_segment

Segment
Bulk Buyer       49036198.84
Prime Member     47773943.25
Regular Buyer    47555270.14
Name: Sales, dtype: float64

In [ ]:
Profit_by_segment=data.groupby("Segment")["Profit"].sum()
Profit_by_segment

Segment
Bulk Buyer       1951077.20
Prime Member     1786206.00
Regular Buyer    1790612.28
Name: Profit, dtype: float64

In [ ]:
# Group by Segment and calculate total Sales and Profit
sales_profit_by_segment = data.groupby('Segment').agg({'Sales': 'sum', 'Profit': 'sum'}).reset_index()

# Calculate Sales to Profit Ratio
sales_profit_by_segment['Sales_to_Profit_Ratio'] = sales_profit_by_segment['Sales'] / sales_profit_by_segment['Profit']

# View the result
print(sales_profit_by_segment[['Segment', 'Sales_to_Profit_Ratio']])

         Segment  Sales_to_Profit_Ratio
0     Bulk Buyer              25.132885
1   Prime Member              26.746043
2  Regular Buyer              26.558106

#find profit ratio

In [ ]:
data["Profit_Ratio"] = (data["Profit"] / data["Sales"]) * 100
data["Profit_Ratio"]

0       -3.955991
1        3.973248
2       19.866445
3        6.951333
4        5.252393
          ...
9495    -1.929092
9496    13.474132
9497    -1.983460
9498    14.921404
9499     8.487828
Name: Profit_Ratio, Length: 9500, dtype: float64

#find profit ration on based of segment

In [ ]:
Sale_by_profitratio=data.groupby("Profit_Ratio")["Segment"].sum()
Sale_by_profitratio

Profit_Ratio
-18.640381    Regular Buyer
-18.625978    Regular Buyer
-17.001948       Bulk Buyer
-16.890843    Regular Buyer
-16.763892    Regular Buyer
                  ...
 24.151866    Regular Buyer
 24.203104       Bulk Buyer
 24.239822    Regular Buyer
 24.452452     Prime Member
 24.648391    Regular Buyer
Name: Segment, Length: 9500, dtype: object

#compare sales and profit by customer segment

In [ ]:
data.groupby("Segment")[["Sales","Profit"]].sum().sort_values(["Sales"],ascending=False)

                     Sales      Profit
Segment
Bulk Buyer     49036198.84  1951077.20
Prime Member   47773943.25  1786206.00
Regular Buyer  47555270.14  1790612.28

#compare monthly sales and monthly profit

In [ ]:
data.groupby("monthly_sales")["monthly_profit"].sum()

monthly_sales
8975522.40     331962.44
9265305.45     370964.07
9746548.36     393134.69
10173888.07    391923.10
10524629.47    395124.15
10986851.99    445864.01
12236150.98    500931.42
13090243.31    497607.54
14495834.64    481004.06
14634376.73    586100.84
15095635.21    578634.87
15140425.62    554644.29
Name: monthly_profit, dtype: float64

In [ ]:
print(data.columns.tolist())

['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State', 'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit', 'Months', 'day_of_week', 'years', 'Profit_Ratio', 'monthly_profit', 'monthly_sales']

#compare sales and profit on the based of sub-category

In [ ]:
data.groupby("Sub-Category")[["Sales","Profit"]].sum().sort_values(["Sales"],ascending=False)

                       Sales     Profit
Sub-Category
Dumbbells         5304594.01  718714.73
Face Wash         5213046.00  717066.72
Kurtis            5155361.42  715545.74
Mixer Grinder     5126359.61  680028.13
Earphones         5109450.58  672611.35
Perfume           5084871.43  699510.23
Bedsheet          5065418.45  717505.82
Comics            5041771.10  694235.97
Curtains          5024838.45  690329.09
Shoes             4956205.60  657238.82
Smartwatch        4933626.71  663262.90
Power Bank        4886740.32  673251.72
Cookware Set      4868906.10  671215.39
Exam Preparation  4799980.84  646496.22
Biography         4764614.61  618975.54
Saree             4753202.42  659778.94
Jeans             4748569.77  638772.53
Shampoo           4728347.85  654489.43
Smartphone        4723513.51  681578.99
Lipstick          4716810.01  600014.63
Laptop            4716148.76  651934.95
Fiction           4621459.49  622883.13
Football          4610049.12  664181.89
Children          4600419.48  633800.01
Moisturizer       4583846.56  644459.51
Cricket Bat       4574387.11  622461.86
Storage Box       4519949.99  635939.77
Tennis Racquet    4450752.53  594995.85
Yoga Mat          4397161.88  599403.78
T-Shirt           4285008.52  578972.35

#compare discount on based of city

In [ ]:
data.groupby("City")["Discount"].sum()

City
Ahmedabad     40.75
Bangalore     26.85
Bhopal        37.70
Chennai       26.65
Coimbatore    28.95
Howrah        43.05
Hubli         28.40
Hyderabad     87.00
Indore        42.45
Jaipur        44.75
Kanpur        43.80
Kolkata       39.55
Lucknow       43.75
Madurai       30.65
Mumbai        30.80
Mysore        27.70
Nagpur        25.75
New Delhi     84.10
Pune          29.80
Surat         38.90
Udaipur       43.20
Name: Discount, dtype: float64

#find discount on based of category

In [ ]:
data.groupby("Category")["Discount"].sum()

Category
Beauty & Personal Care    140.15
Books                     142.55
Electronics               140.00
Fashion                   136.15
Home & Kitchen            147.95
Sports & Fitness          137.75
Name: Discount, dtype: float64

#we find monthly discount

In [ ]:
data.groupby("Months")["Discount"].sum()

Months
1     87.50
2     78.10
3     88.95
4     81.70
5     91.00
6     73.00
7     60.80
8     58.10
9     53.00
10    57.75
11    52.00
12    62.65
Name: Discount, dtype: float64

#Correlation of sales and profit

In [ ]:
data1=data[["Sales","Profit"]]
data1.corr()

           Sales    Profit
Sales   1.000000  0.775886
Profit  0.775886  1.000000

#Correlation Between Discount and Profit

In [ ]:
data2=data[["Discount","Profit"]]
data2.corr()

          Discount   Profit
Discount   1.00000 -0.12028
Profit    -0.12028  1.00000

#Correlation Between Discount and sales

In [ ]:
data3=data[["Discount","Sales"]]
data3.corr()

          Discount    Sales
Discount   1.00000 -0.01744
Sales     -0.01744  1.00000

In [44]:
data["Cost"] = data["Sales"] - data["Profit"]
loss_data = data[data["Profit"] < 0]

In [45]:
print(loss_data.columns)

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit', 'Months',
       'day_of_week', 'years', 'monthly_sales', 'Quarter', 'Season', 'Cost'],
      dtype='object')

In [47]:
monthly_loss = loss_data.groupby("Months")["Profit"].sum().sort_index()
print(monthly_loss)

Months
1    -175921.91
2    -148318.58
3    -212275.13
4    -208056.37
5    -183495.46
6    -134378.15
7    -104776.60
8    -122783.80
9    -113562.08
10   -118556.29
11   -110875.12
12   -129431.92
Name: Profit, dtype: float64

In [48]:
loss_by_category = loss_data.groupby(['Category', 'Sub-Category'])["Profit"].sum().sort_values()
print(loss_by_category)

Category                Sub-Category
Sports & Fitness        Dumbbells          -257873.47
                        Yoga Mat            -96655.60
                        Cricket Bat         -87862.98
Fashion                 Jeans               -67737.89
Electronics             Smartphone          -67427.68
Home & Kitchen          Cookware Set        -63457.35
                        Bedsheet            -62831.85
Books                   Comics              -62637.00
Fashion                 Shoes               -62386.43
Beauty & Personal Care  Moisturizer         -61695.89
Home & Kitchen          Mixer Grinder       -61274.95
Electronics             Power Bank          -60250.67
Beauty & Personal Care  Shampoo             -59736.33
Books                   Biography           -58166.74
Beauty & Personal Care  Perfume             -58038.54
Books                   Children            -57463.52
                        Fiction             -56266.86
Sports & Fitness        Tennis Racquet      -56179.00
Home & Kitchen          Curtains            -55902.24
Books                   Exam Preparation    -55405.61
Sports & Fitness        Football            -54307.58
Fashion                 Kurtis              -54067.78
Home & Kitchen          Storage Box         -52886.05
Fashion                 Saree               -50812.16
                        T-Shirt             -44132.52
Electronics             Smartwatch          -30850.77
Beauty & Personal Care  Face Wash            -3782.53
Electronics             Earphones            -2046.80
                        Laptop                -294.62
Name: Profit, dtype: float64

net profit or net loss

In [50]:
# Step 1: Group and calculate monthly total profit
monthly_profit = data.groupby("Months")[["Profit"]].sum().sort_index()

# Step 2: Add a column to flag months with losses
monthly_profit["Loss month"] = monthly_profit["Profit"] < 0

# Step 3: Print the result
print(monthly_profit)

           Profit  Loss month
Months
1       586100.84       False
2       497607.54       False
3       554644.29       False
4       481004.06       False
5       578634.87       False
6       500931.42       False
7       393134.69       False
8       395124.15       False
9       370964.07       False
10      391923.10       False
11      331962.44       False
12      445864.01       False

TO FIND monthly and quartnry trends

In [22]:
monthly_trend = data.groupby("Months")[["Sales", "Profit"]].sum()
print(monthly_trend)

              Sales     Profit
Months
1       14634376.73  586100.84
2       13090243.31  497607.54
3       15140425.62  554644.29
4       14495834.64  481004.06
5       15095635.21  578634.87
6       12236150.98  500931.42
7        9746548.36  393134.69
8       10524629.47  395124.15
9        9265305.45  370964.07
10      10173888.07  391923.10
11       8975522.40  331962.44
12      10986851.99  445864.01

In [23]:
data["Quarter"] = data["Months"].apply(lambda x: f"Q{((x-1)//3)+1}")
quarterly_trend = data.groupby("Quarter")[["Sales", "Profit"]].sum()
print(quarterly_trend)

               Sales      Profit
Quarter
Q1       42865045.66  1638352.67
Q2       41827620.83  1560570.35
Q3       29536483.28  1159222.91
Q4       30136262.46  1169749.55

to find seasonal sales and profit

In [24]:
def get_season(month):
    if month in [12, 1, 2]:
        return "Winter"
    elif month in [3, 4]:
        return "Spring"
    elif month in [5, 6]:
        return "Summer"
    elif month in [7, 8, 9]:
        return "Monsoon"
    else:
        return "Autumn"

data["Season"] = data["Months"].apply(get_season)

In [25]:
seasonal_sales = data.groupby("Season")["Sales"].sum().sort_values(ascending=False)
print(seasonal_sales)

Season
Winter     38711472.03
Spring     29636260.26
Monsoon    29536483.28
Summer     27331786.19
Autumn     19149410.47
Name: Sales, dtype: float64

In [26]:
seasonal_profit = data.groupby("Season")["Profit"].sum().sort_values(ascending=False)
print(seasonal_profit)

Season
Winter     1529572.39
Monsoon    1159222.91
Summer     1079566.29
Spring     1035648.35
Autumn      723885.54
Name: Profit, dtype: float64